$brandRed: #670000;

body {
  padding-top: 70px;
}

nav {
  .navbar-brand {
    background: url(/bicycle.png);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: left center;
    padding-left: 50px;
    margin-left: -5px !important;
    color: $brandRed !important;
  }
  .nav {
    .active {
      font-weight: bold;
    }
  }
}

.muted {
  opacity: 0.7;
}

.loading {
  text-align: center;

  font-size: 3em;
}

.actions {
  float: right;
}

h2, h3 {
  margin-top: 0;
}

input {
  width: 70%;
}

textarea {
  width: 70%;
  height: 400px;
}
