<h1>Curriculums</h1>

<ul class="list-unstyled">
  {{#each}}
    <li>
      {{#link-to 'curriculum' this}}
        {{title}}
        <span class="muted">
          by {{instructor.fullName}}
        </span>
      {{/link-to}}
    </li>
  {{/each}}
</ul>


{{outlet}}
