<div class="col-md-4">
  <h3>Curriculums</h3>

  <ul class="list-unstyled">
    {{#each curriculum in model}}
      <li>
        {{#link-to 'curriculum' curriculum}}
          {{curriculum.title}}
          <span class="muted">
            by {{curriculum.instructor.fullName}}
          </span>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

<div class="col-md-8">
  <h2>Welcome!</h2>

  <p>
    To get started, please select something you're interested in on the left.
  </p>
</div>
